# Ignore OS files
.DS_Store

*.bit
*.mcs
*.*bak
*.*cmd
*.*log
*.err
*.gise
*.html
*.jhd
*.ncd
*.prj
*.spl
*.stx
*.tim
*.tspec
*.xst
*.xwbt
*BatchFile
*_xdb
_ngo
_xmsgs
*.xmsgs


!*.xpr
!*.xise
!*.tcl
*/bd/*
!*/bd/*.bd
*.swp
*.~
*.*~
*.o
.Xil

ipcore_dir/*
*.xcix
*.xci
!ipcore_dir/*.xco
!ipcore_dir/*.cgp
tags

isim/*

iseconfig
*.pyc
*.prm
*.cfi

*.sig
*.bgn
*.lso
*.ngc
*.ngr
*.pad

*.blc
*.bld
*.bmm
*.bsd
*.csv
*.debug
*.drc
*.exe
*.fromNetlist.tcl
*.impactscript
*.ipf
*.map
*.mrp
*.ngd
*.ngm
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.wcfg
*.wdb
#*.xco
*.xilinxsim.ini
*.xml
*.xpi
*.xrpt
*.xsl

netgen/
xst/
planAhead_run*
